:root{
--bg-footer:#90d4c5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
nav {
  width: 100%;
  padding: 5px;
  z-index: 9999;
}
.navbar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2px;
}
.logo {
  padding: 3px 4px;
}
.logo > h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.nav-links > ul > li {
  display: inline;
  margin-left: 20px;
}

.contact {
  font-size: 1.2rem;
  padding: 0.6em 1.2em;
  color: #444b52;
  background-color: #fff;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
}
.about,
.service,.project {
  padding: 5px 8px;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
}
.hero{
width: 100%;
height: 100vh;
background-image: url('./asscets/image-header.jpg');
background-size: contain;
background-position-x: 45%;
position: absolute;
top: 0;
z-index: -1;
display: flex;
justify-content: center;
}

.for-text>h2{
font-size: 3.5rem;
color: #fff;
font-weight: bold;
letter-spacing: 5px;
text-transform: uppercase;
}
.for-content{
max-height: 800px;
display: flex;
flex-direction: column;
margin-top: 10%;
}
.for-image{
display: flex;
justify-content: center;
}
.for-image>img{
margin-top: 12%;
}