:root {
  --bg-footer: #90d4c5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
nav {
  width: 100%;
  padding: 5px;
  z-index: 9999;
  background-color: #3ebfff;
}
.navbar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2px;
}
.logo {
  padding: 3px 4px;
}
.logo > h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.nav-links > ul > li {
  display: inline;
  margin-left: 20px;
}

.contact {
  font-size: 1.2rem;
  padding: 0.6em 1.2em;
  color: #444b52;
  background-color: #fff;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
}
.about,
.service,
.project {
  padding: 5px 8px;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./asscets/image-header.jpg");
  background-size: cover;
  background-position-x: 45%;
  background-repeat: no-repeat;
  /* position: absolute;
top: 0;
z-index: -1;*/
  display: flex;
  justify-content: center;
}

.for-text > h2 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.for-content {
  max-height: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.for-image {
  display: flex;
  justify-content: center;
}
.for-image > img {
  margin-top: 12%;
}
.main-container {
  width: 100%;
  /* background-color: aqua; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
}
.for-imag {
  width: 100%;
  /* height: 80vh; */
  overflow: hidden;
}
.for-imag > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.for-content-grid {
  place-self: center;
  max-width: 440px;
}
.for-content-grid-2 {
  place-self: center;
  max-width: 450px;
}
.contents {
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.contents > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #222b37;
}
.contents > p {
  color: #87868f;
  line-height: 25px;
  font-weight: 600;
  font-size: 1.1rem;
}
.contents > .first-a,
.second-a {
  color: #444b52;
  text-transform: uppercase;
  width: fit-content;
  border-radius: 5px;
  font-weight: 600;
  border-bottom: 10px solid rgba(255, 255, 0, 0.308);
}
.second-a {
  border-bottom: 10px solid rgba(216, 112, 147, 0.384);
}
.for-content-grid-3,
.for-content-grid-4 {
  background-image: url("./asscets/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: center;
background-size: cover;
  background-position-y: 0%;
  height: 80vh;
}
.for-content-grid-4 {
  background-image: url("./asscets/image-photography.jpg");
}
.for-content-grid-3 > .for-contents,
.for-content-grid-4 > .for-contents {
  max-width: 350px;
  padding: 5px 8px;
}
.for-content-grid-3,.for-content-grid-4{
  display: flex;
  align-items: end;
background-color: #006cf8;
width: 100%;
}
.for-contents {
  width: 100%;
  margin: 0 auto;
}
.for-content-grid-3 > .for-contents > h1,
.for-content-grid-4 > .for-contents > h1 {
  color: #244d42;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1em;
}
.for-content-grid-3 > .for-contents > p,
.for-content-grid-4 > .for-contents > p {
  margin-bottom: 2em;
  line-height: 25px;
  color: #205448cb;
  text-align: center;
  font-weight: 600;
}
.for-content-grid-4>.for-contents>p{
color:#006aac ;
}
.for-content-grid-4>.for-contents>h1{
color:#185068 ;
}